
div.row {
  display: flex;
  background-color: $secondary;
  max-width: 100%;
  padding:8rem;
  height:300px;
}

.third-row{
    background-color: $secondary;
    height:330px;
  }
  
  div.card-body{
    background-color: $secondary;
    border-radius: 8px;
  }
  div.card{
    width:300px;
    margin-left:6.5%;
    margin-top:-75%;
    height:350px;
    border:none;
  }
  
  div.card-title.h5{
    color:$primary;
    text-align: center;
  }

  .icon{
    width:25%;
    margin-top:3rem;
    margin-bottom:4rem;
    margin-left:6rem;
  }
  
  div.col{
    padding:2rem;
    max-width:100%;
  }


@media (min-width:270px) and (max-width:280px){
    
  div.row {
    padding:.7rem;
    background-color: $primary;
    max-width:100%;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        background-color: $primary;
        height:350px;
        margin-top:5rem;
        margin-bottom: 5rem;
      }
      div.card{
        margin:0;
        padding:0;
        margin-top:3rem;
        width:220px;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:4.5rem;
      }
}

@media (min-width:281px) and (max-width:320px){
    div.row {
        padding:2rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:350px;
            margin-top:5rem;
            margin-bottom: 5rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:3rem;
            width:220px;
          }
        
          div.card-title.h5{
            color:$primary;
            text-align: center;
          }
            .icon{
    margin-left:4.5rem;
  }     
}
@media (min-width:321px) and (max-width:375px){
    div.row {
        padding:1rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:350px;
            margin-top:5rem;
            margin-bottom: 5rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:3rem;
          }
        
}

@media (min-width:376px) and (max-width:393px){
    div.row {
        padding:1.5rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:350px;
            margin-top:5rem;
            margin-bottom: 5rem;
          }

  div.card{
    margin:0;
    padding:0;
    margin-top:3rem;
  }
}

@media (min-width:401px) and (max-width:414px){
    div.row {
        padding:2.2rem;
        background-color: $primary;
        max-width:100%;
        }

  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:350px;
    margin-top:5rem;
    margin-bottom: 5rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:3rem;
  }
}
@media (min-width:539px) and (max-width:540px){
  
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }
    
  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:350px;
    margin-top:25rem;
    margin-bottom: 5rem;
    padding:2rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:2rem;
    margin-left:.4rem;
  }
}
@media (min-width:541px) and (max-width:568px){
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }

  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:350px;
    margin-top:25rem;
    margin-bottom: 5rem;
    padding:3rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:2rem;
    margin-left:.4rem;
  }
}
@media (min-width:569px) and (max-width:600px){
    div.row {
        padding:4.5rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:350px;
            margin-top:25rem;
            margin-bottom: 5rem;
            padding:3rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:2rem;
            margin-left:.4rem;
          }        
}
@media (min-width:639px) and (max-width:667px){
  
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }
      .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:350px;
    margin-top:30rem;
    padding:6rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:3rem;
  }
}
@media (min-width:719px) and (max-width:736px){
    div.row {
        padding:4rem;
        background-color:$primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:500px;
            margin-top:30rem;
            padding:8rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:5rem;
          }
}
@media (min-width:750px) and (max-width:768px){
  
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:500px;
            margin-top:25rem;
            padding:9rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:5rem;
          }
}
@media (min-width:769px) and (max-width:780px){
    div.row {
        padding:4.5rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:500px;
            margin-top:25rem;
            padding:9rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:5rem;
          }
}
@media (min-width:781px) and (max-width:823px){
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }
    
  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:500px;
    margin-top:25rem;
    padding:11rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:5rem;
  }
}
@media (min-width:844px) and (max-width:852px){
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }
    
  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:500px;
    margin-top:25rem;
    padding:12rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:5rem;
  }
}
@media (min-width:892px) and (max-width:896px){
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:500px;
            margin-top:25rem;
            padding:14rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:5rem;
          }        
}
@media (min-width:926px) and (max-width:932px){
    div.row {
        padding:4rem;
        background-color: $primary;
        max-width:100%;
        }

  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:500px;
    margin-top:25rem;
    padding:14rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:5rem;
  }
}
@media (min-width:935px) and (max-width:1024px){
    div#row{
        margin-left:-11%;
      }
      .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        background-color: $secondary;
        height:350px;
      }
      div.card{
        width:250px;
        margin-left:14%;
        margin-top:-15rem;
      }  
      .icon{
        margin-left:38%;
      }
}
